.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main {
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.welcomeHeading {
  color: #333;
  margin-bottom: 0.2rem;
  font-size: 48px;
  font-weight: bold;
}

.companyName {
  color: #1a1a1a;
  font-size: 48px;
}

.scrollPrompt {
  cursor: pointer;
  color: black;
  background-color: var(--color-pink-700);
  border-radius: var(--radius-medium);
  padding: var(--space-base);
  font-size: 18px;
}

.section {
  background-color: var(--color-pink-100);
  padding: 4rem 2rem;
}

.sectionWhite {
  background-color: #fff;
  padding: 4rem 2rem;
}

.sectionHeading {
  color: #333;
  font-size: 32px;
  text-align: center;
}

.input {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1rem;
}

.submitButton {
  background-color: #007bff;
  color: #fff;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
}

.footer {
  background-color: var(--color-pink-100);
  padding: 2rem;
  color: #6f6f6f;
}

.footerText {
  font-size: 0.9rem;
  text-align: center;
}
.hiddenInput {
  width: 0;
  height: 0;
}

.disclaimer {
  font-size: 6px;
  color: #cccccc;
}
